[submodule "tests/googletest"]
	path = tests/googletest
	url = https://github.com/google/googletest.git
[submodule "threadpool11"]
	path = threadpool11
	url = https://github.com/tghosgor/threadpool11
